<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <content>
      <h1>Navigation</h1>
      <form method="post" action="/dashboard/nav?_method=put">
        <p>
          <label for="navigation">Navigation:</label>
          <textarea id="nav" name="nav"><%- nav %></textarea>
        </p>
        <input type="submit" value="Save">
      </form>
    </content>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>