<!DOCTYPE html>
<html lang="en">
<!-- Todo update language-->

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <content>
      <%- homepage_content_html %>
    </content>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>