<% if(!locals.theme) { %>  
  <!DOCTYPE html>
  <html lang="<%- blog.language %>">
  <head>
    No Theme
  </head>
  <body>
    No Theme Found For replies.ejs
  </body>
  </html>
  <% } else { %>
    <%- include(`../../../content/themes/${locals.theme.slug}/replies`); %>
  <% } %>