<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
<meta charset="utf-8">
<meta name="bear-validation" content="look-for-the-bear-necessities" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5" />
<link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>
🐼
</text></svg>">
<link rel="alternate icon" href="/favicon.ico" type="image/x-icon" sizes="48x48" />
<title>
  brandon&#x27;s blog!
  <!-- todo show title -->
</title>

<meta name="robots" content="noindex">
<meta name="robots" content="nofollow">

<!-- Primary Meta Tags -->
<meta name="title" content="brandon&#x27;s blog!">
<meta name="description" content="1337 h4xd">
<meta name="keywords" content="blog, blogging, write, writing" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="brandon&#x27;s blog!">
<meta property="og:url" content="http://0xcool.bearblog.dev">
<meta property="og:title" content="brandon&#x27;s blog!">
<meta property="og:description" content="1337 h4xd">


<!-- Twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="http://0xcool.bearblog.dev">
<meta property="twitter:title" content="brandon&#x27;s blog!">
<meta property="twitter:description" content="1337 h4xd">


<!-- Microdata -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Website",
    "name": "brandon&#x27;s blog!",
    "url": "http://0xcool.bearblog.dev",
    "description": "1337 h4xd",
    "about": {
      "@type": "brandon&#x27;s blog!",
      "description": "1337 h4xd"
    },
  }
</script>
<link rel="alternate" type="application/rss+xml" href="/feed/?type=rss" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">