<a class="title" href="/">
  <h1>
    <!-- Blog Title goes here-->
    <%- title %>
  </h1>
</a>
<nav>
  <!-- nav goes here-->
  <p>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
  </p>
</nav>