:root {
  /* --background-color: #fff;
  --color: hsl(205deg, 20%, 32%);
  --h1-color: hsl(205deg, 30%, 15%);
  --h2-color: #24333e;
  --h3-color: hsl(205deg, 25%, 23%);
  --h4-color: #374956;
  --h5-color: hsl(205deg, 20%, 32%);
  --h6-color: #4d606d;
  --primary: hsl(195deg, 85%, 41%);  
  --primary-inverse: #fff;
  --secondary: hsl(205deg, 15%, 41%);   */
  --secondary: hsl(205deg, 15%, 41%);
  --secondary-inverse: #fff;
  --links: hsl(195deg, 85%, 41%);
  --button-base: #EFEFEF;
  --button-border: #CCC;
}


/* water.css overrides */

nav a {
  margin-right: 10px;
}

nav a:hover {
  text-decoration: none;
}

time {
  color: var(--links);
  background: none;
  border-radius: 0;
  padding: 0;
  padding-bottom: 1px;
  font-weight: bold;
}


/* classes */

#favicon {
  width: 40px;
  /* display: inline; */
  border: 1px solid;
  text-align: center;
}

.helptext {
  color: lightgray;
  font-size: 0.8em;
  font-style: italic;
}

.flash-message {
  padding: 10px;
  border: 1px dashed;
  margin-bottom: 10px;
  width: 100%;
}

#idMediaPreview img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#char-count {
  color: var(--secondary);
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

.text-danger {
  color: #dc3545 !important;
}

.button-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--secondary-inverse);
}

.button-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}


/* Forms */

input,
textarea {
  background: none;
  border: 1px solid lightgray;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  /* max-width: 600px; */
}

label {
  color: var(--secondary);
  font-size: 0.8em;
}

details {
  background-color: #fff;
}


/* Overrides */

.row [class^="col"] {
  margin: 0px;
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 45rem;
  }
}

button {
  border: .5px solid var(--button-border);
  padding: 0.5em 0.95em 0.5em 0.75em;
}


/* Utility */

.u-float-right {
  float: right !important;
}

.u-float-left {
  float: left !important;
}

.u-clearfix {
  clear: both;
}

.u-hidden {
  display: none;
}

.u-show {
  display: block;
}