<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <content>      
      <p>By default spore.blog uses <a href="https://gravatar.com/">Gravatar</a> for your profile photo. If you'd like to change your profile photo, you can upload a new image file here.</p>
      <form method="post" action="/admin/account/photo" enctype="multipart/form-data">
        <label>New profile photo:</label>
        <p>
          <input type="file" name="avatar" id="avatar" required accept="image/*" />
        </p>
        <p>
          <img alt="image preview" width="100" height="100" id="image-preview" style="display:none" />
        </p>
        <p>
          <button type="submit" value="upload">Upload</button>
        </p>
      </form>
      <hr>
      <p>
        <p><label>Current profile photo:</label></p>
        <% if(locals.hugo.Author.avatar) { %>
          <p>
            <img src="<%- locals.hugo.Author.avatar %>?s=100" alt="profile photo" width="100" height="100" />
          </p>
          <!-- Delete form-->
          <!-- Show Delete form only if the avatar is not from gravatar-->
          <% if(!locals.hugo.Author.avatar.includes("gravatar")) { %>
          <!-- <p>
            <form method="post" action="/admin/account/photo?_method=delete">
              <button type="submit" value="delete">Delete</button>
            </form>
          </p> -->
          <% } %>            
          <% } %>            
      </p>
    </content>
  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>

  <script>
    const imgElement = document.getElementById('avatar');
    const previewImgElement = document.getElementById('image-preview');

    imgElement.addEventListener('change', (event) => {
      if (!event.target.files.length) {
        previewImgElement.style.display = 'none';
        return previewImgElement.src = '';
      }
      // Set the <img>'s src to a reference URL to the selected file
      previewImgElement.style.display = 'block';
      return previewImgElement.src = URL.createObjectURL(event.target.files.item(0))
    });
  </script>

</body>

</html>