a {
  text-decoration: underline;
}

a.title {
  text-decoration: none;
}

nav a {
  margin-right: 10px;
}

input[type="text"] {
  width: 100%;
}

#favicon {
  width: 20px;
  display: inline;
  border: 1px solid;
  text-align: center;
}