<meta charset="UTF-8">
<title>
  <%- locals.dash_title ? locals.dash_title : 'Dashboard' %> | spore.blog
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
<link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>
  🌱
  </text></svg>">
  <meta name="color-scheme" content="light only">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
<!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.5.3/css/pico.classless.min.css"> -->
<link rel="stylesheet" href="/styles/dashboard.css">
<script src="/scripts/dashboard.js"></script>