<a class="title" href="/">
  <h2>
    <span class="title-spore">ᴥ</span> spore.blog
  </h2>
</a>
<nav class="">
  <p class="row">
    <span class="col-12">
      <a href="/dashboard/posts/new" class="new-post">
        <button class="btn">New Post</button>        
      </a>    
      <a href="/dashboard/">Dashboard</a>
      <a href="/dashboard/nav/">Nav</a>
      <a href="/dashboard/posts/">Posts</a>
      <a href="/dashboard/styles/">Styles</a>
      <a href="/dashboard/settings/">Blog Settings</a>
      <a href="/dashboard/account/">Account</a>     
      <a href="/dashboard/auth/logout/">Sign out</a>
    </span>
  </p>
</nav>

<!-- Show flash messages-->
<% if(flash.length> 0) { %>
  <% flash.forEach(function(message) { %>
    <p class="flash-message <%- message.type %> ">
      <%= message.message %>
    </p>
    <% }); %>
      <% } %>